

form {
    background-color: transparent;
    border: solid 1px rgb(172,172,172);
    border-radius: 20px;
    padding-top: 3px;
    height: 43px;
}

input {
    background-color: transparent;
    border: none;
    margin: 0;
    padding-left: 15px;
    font-size: 20px;
    color: thistle;
}

button {
    background-color: transparent;
    border: none;
    padding-right: 15px;
    color: thistle;
    font-size: 20px;
    transition: 0.5s;
}

button:hover {
    transition: 0.5s;
    color: rgb(255, 255, 255);
}

input:focus {
    outline: none;
}

button:focus {
    outline: none;
}